#container {
	width:500px;
	position:relative;
	z-index:0;
	float:left;
}

#example {
	width:500px;
	height:300px;
	position:relative;
}

/*#ribbon {
	position:absolute;
	top:-3px;
	left:-15px;
	z-index:500;
}



	Slideshow
*/

#slides {
	position:absolute;
	top:0;
	left:0;
	z-index:100;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:500px;
	overflow:hidden;
	position:relative;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container div.slide {
	width:500px;
	height:300px;
	display:block;
}


/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	position:absolute;
	top:107px;
	left:5px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides .next {
	left:470px;
}

/*
	Pagination
*/

.pagination {
	width:100px;
	display:none;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../img/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

/*
	Caption
*/

.caption {
	z-index:500;
	margin-top:-130px;
	position:absolute;
	left:0;
	height:auto;
	padding:5px 20px 0 20px;
	background:#000;
	background:rgba(0,0,0,.5);
	width:460px;
	font-size:1.3em;
	line-height:1.33;
	color:#fff;
	text-shadow:none;
}
