@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
@import "font-awesome.css";

.content{
	margin-top: 15px;
	margin-right: auto;
	margin-bottom: 50px;
	margin-left: auto;
	
}
.orion-menu{margin-top: 0px;}

.orion-menu{
	width:100%;
	padding:0;
	position:relative;
	float:left;
	background:#454545;
	list-style:none;
	font-family:'Roboto Condensed',sans-serif;
	box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;

 }

.orion-menu li{
	display:inline;
	font-size:14px;
	margin:0;
	padding:0;
	float:left;
	line-height:normal;
	position:relative;
	color: #000000;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-right-width: 1px;
	border-bottom-width: 1px;
	}

.orion-menu li a{
  padding:5px 15px;
	color: #000000;
	text-decoration:none;
	display:inline-block;
	-o-transition:color .3s linear,background .3s linear;-webkit-transition:color .3s linear,background .3s linear;-moz-transition:color .3s linear,background .3s linear;transition:color .3s   linear,background .3s linear
	}

.orion-menu li:hover>a{color:#CCCCCC}

.orion-menu li.active>a{
	background-color: #6C6C6C;
}

.orion-menu>li>a{text-transform:uppercase}

.orion-menu ul,
.orion-menu ul li ul{list-style:none;margin:0;padding:0;display:none;position:absolute;z-index:999;width:200px;background:#454545}
.orion-menu ul{top:40px;left:0}

.orion-menu ul li ul{top:0;left:200px}
.orion-menu ul li{clear:both;width:100%;font-size:12px}
.orion-menu ul li a{
	width:100%;
	padding:5px 22px;
	display:inline-block;
	float:left;
	clear:both;
	box-sizing:border-box;
-moz-box-sizing:border-box;-webkit-box-sizing:border-box; 	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #D7D7D7;
	border-right-color: #D7D7D7;
	border-bottom-color: #D7D7D7;
	border-left-color: #D7D7D7;
}

.orion-menu ul li:hover>a{background:#555}

.orion-menu .indicator{color:#bababa;position:absolute;right:6px;top:10px;font-family:FontAwesome;font-size:12px}
.orion-menu .indicator:before{content:"\f0d7"}
.orion-menu ul li .indicator{right:20px;top:6px}
.orion-menu ul li .indicator:before{content:"\f0da"}

.orion-menu>li.showhide{display:none;width:100%;height:50px;cursor:pointer;color:#dedede;background:#454545}
.orion-menu>li.showhide span.title{margin:16px 0 0 18px;float:left}.orion-menu> li.showhide span.icon{margin:17px 20px;float:right}
.orion-menu>li.showhide .icon em{margin-bottom:3px;display:block;width:20px;height:2px;background:#ccc}

.green,.green li ul,.green ul li ul,.green>li.showhide{
	background-color: #ab0000;
	color:#FFFFFF;
}
.green li a,.orion-menu li.social a{
	color:#FFFFFF;
	font-weight: normal;
}
.green li.active>a,.green  li:hover>a,.green li.social a .tooltip{
	background-color: #F8F8F8;
	color:#333333;
}
.green li.search form input.search:focus{background-color:#d53f3f}
.green li.social a .tooltip:before,.green li.social a .tooltip:after{border-top-color:#d53f3f}


@media only screen and (max-width:767px){

.orion-menu{
   margin:0;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-left-color: #000000;
		border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;

	 }
.orion-menu li{
  display:block;
	width:100%;
	border-right-style: none;
	}
.orion-menu>li>a{
  width:100%;
	padding:10px 22px;
	text-align:left;
	border-top:solid 1px rgba(255,255,255,.05);
	box-sizing:border-box;-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	}
	.orion-menu ul li.last{
	border: none;
  }
.orion-menu ul,.orion-menu ul li ul{
  width:100%;
	left:0;
	padding:0 20px;
	position:static;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box
	}
.orion-menu ul li a{	
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box; 
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #D7D7D7;
	border-right-color: #D7D7D7;
	border-bottom-color: #D7D7D7;
	border-left-color: #D7D7D7;
}
.orion-menu .indicator{
  right:20px;
	top:14px
	}
.orion-menu ul li .indicator{display:none}

.orion-menu>li.showhide{display:block}



}
